.hero {
  padding: 40px 0 120px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

/* LEFT */

.left h1 {
  margin-top: 20px;

  max-width: 700px;

  font-size: 80px;
  line-height: 0.95;
  letter-spacing: -4px;

  color: #171717;
}

.left p {
  margin-top: 28px;

  max-width: 560px;

  font-size: 18px;
  line-height: 1.7;

  color: #4b4b4b;
}


.actions {
  margin-top: 40px;

  display: flex;
  align-items: center;
  gap: 16px;
}

.primary {
  height: 58px;
  padding: 0 28px;

  border: none;
  border-radius: 18px;

  background: #ff6b35;
  color: white;

  font-size: 15px;
  font-weight: 700;

  transition: 0.2s ease;
}

.primary:hover {
  transform: translateY(-2px);
}

.secondary {
  height: 58px;
  padding: 0 28px;

  border: none;
  border-radius: 18px;

  background: white;

  font-size: 15px;
  font-weight: 700;
}

/* RIGHT */

.right {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage {
  width: 100%;
  height: auto;

  max-width: 680px;

  object-fit: contain;

  animation: float 6s ease-in-out infinite;
}

@keyframes float {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }

}

/* RESPONSIVE */

@media (max-width: 1100px) {

  .wrapper {
    grid-template-columns: 1fr;
  }

  .left {
    text-align: center;
  }

  .left h1 {
    margin-inline: auto;

    font-size: 64px;
  }

  .left p {
    margin-inline: auto;
  }

  .actions {
    justify-content: center;
  }

}
