/* ===== RESET DASAR ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== BODY ===== */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #ffffff;
  color: #111111;
  line-height: 1.5;
}

/* ===== LINK & BUTTON GLOBAL ===== */
a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* ===== LIST ===== */
ul {
  list-style: none;
  padding: 0;
}
